.menu{
  position: relative;
  left: 1%;
}
.nav-link:hover{
color: #0d6efd !important;
}
.container-fluid{
  padding:0px !important;
}

.icon{
  width: 24px;
  position: relative;
  left: 15px;
}
.center {
  position: relative !important;
  left: 15% !important;
}
